.wrapper {
  display: flex;
  gap: 100px;
  padding: 20px;
}

#details {
  width: 100%;
}

#image img {
  width: 100%;
}

.facilitiesTitle {
  font-weight: bold;
  font-size: 20px;
}

.destination,
.title,
.subtitle,
.desc {
  margin-bottom: 31px;
}

.destination,
.title,
.subtitle {
  text-align: center;
}
