#apartmentsList {
  display: grid;
  justify-content: center;
}

.apartments {
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  column-gap: 20px;
  row-gap: 15px;
}

.apartment {
  background-color: #cef9ff;
}

.apartment .destiImg {
  width: 100%;
  height: 240px;
  transition: transform 0.3s;
}

#favInfo {
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.favoriteIcon {
  width: 20px;
  height: 20px;
}

.pageTitle {
  font-size: 42px;
  font-weight: bold;
  padding: 20px 0;
}

.apartment .destiImg:hover {
  transform: scale(1.12);
}
